*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    overflow: auto;
}

.imagem
{
    width: 100px;
    height: 100px;
    background-image: url('../img/img.jpg');
    background-size: cover;
    position: absolute;
}

li
{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
   
}

.menu
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-end;
    padding: 10px;
}

